#Packages
packages/minilibx-linux
objs/
ignore/
digest.txt
*.txt

# Compilation
objs/
objs-debug/
objs-prof/
*.o
*.d

# Binaries
miniRT
miniRT-prof
miniRT-debug
miniRT-asan
a.out
packages/libft/miniRT-asan

# Libraries
*.a
packages/libft/libft.a

# Editor directories
.vscode/
.idea/
.settings/
*.swp
*~

# OS Files
.DS_Store
Thumbs.db

# Misc
digest.txt
subjects/
*.log
valgrind-out.txt
*.md
!README.md
42_header.txt

callgrind*
cg.*
maps/fbx
maps/glb